.wrap{
  background-color: #2192FF;
  margin: 0 auto;
  width: 50%;
  height: 400px;
  display: block;
  height:300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.space{
  margin-top: 25px;
}

input{
 border-radius: 10px;
}